<!DOCTYPE html>
<head>
<?php echo head();?>
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<?php include $pth['folder']['template'].'xtoc.php'; ?>
<link rel="stylesheet" href="slide/w3.css">
</head>
<body id="#body" <?php echo onload();?>>
<div id="bg"><img src="<?=$pth['folder']['templateimages']?>tatry.jpg" alt="background"></div>

	<!-- utf-8 check: äöüß -->

     <div id="wrapper">
 
       
            
            
            
            
            
            
            
            
          <div class="w3-content w3-section" style="max-width:100%">

 <marquee width="100%" behavior= "scroll" direction= "left" scrollamount= "10"><font color="#fffff"><strong>Selamat datang di website kami '<?php echo sitename()?>'</strong></font></marquee>

    <img class="mySlides w3-animate-right" src="userfiles/images/1.jpg?cache=none" style="width:100%">
  <img class="mySlides w3-animate-left" src="userfiles/images/2.jpg?cache=none" style="width:100%">
  <img class="mySlides w3-animate-right" src="userfiles/images/3.jpg?cache=none" style="width:100%">

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 5000);    
}
</script>






   
        <div id="navigationwrap">
        <div id="navigation">
         <div class="searchbox"><?php echo searchbox();?></div><div id="iconmenu"><a class="to_nav" href="#primary_nav"><img src="<?=$pth['folder']['templateimages']?>menu.png" alt="MENU"></a></div>
        </div>
        <div id="contentliquid"><div id="contentwrap">
        <div id="content">
           <?php echo editmenu();?>
           <?php echo content();?>
		   <div class="submenu"><?php echo submenu();?></div>
			<?php echo printlink();?></div>
		</div>
        </div>
        <div id="leftcolumnwrap">
        <div class="leftcolumn_navi">
            <nav id="primary_nav">
				<div id="menu">
        <?php echo xtoc();?>
		</div>
		 <div class="langmenu"><?php echo languagemenu();?></div>
		</nav>
		</div>
		<div class="leftcolumn">
			<?php echo newsbox('News01');?>
		</div>
		<div class="leftcolumn">
			<?php echo newsbox('News02');?>
		</div>
        </div>
		<!-- bottom block -->
		<div class="clear"><!-- BREAK --></div>
<div id="main">		
  <!-- one box -->
  <div class="box">
    <div class="in">
      <?php echo newsbox('News03');?>
    </div>
  </div>
  <!-- one box -->
  <div class="box">
    <div class="in">
      <?php echo newsbox('News04');?>
    </div>
  </div>
 </div>
<!-- main block -->
        <div id="footerwrap">
        <div id="footer">
            <?php echo lastupdate(false);?> | 
		Powered by <a target="_blank" href="http://www.cmsimple.org">CMSimple</a>
		
        </div>
        </div>
    </div>
	</div>
</body>
</html>